$primary-color: #FF6F61;
$primary-color-transparent: #ff6e612f;
$secondary-color: #3F4964;
$primary-font-color: #3f444c;
$secondary-font-color: #505050;
$light-font-color: #A5A5A5;
$dark-background-color: #F3F3F3;
$light-background-color: #FAFAFA;

$light-hover-color: rgb(243, 243, 243);

$soft-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

